{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}

{% block main %}
 <ul class="list-group">
        <li class="list-group-item"><a href="/">home</a></li>
        <li class="list-group-item"><a href="/addmemories">add memories</a></li>
        <li class="list-group-item"><a href="/post_requests">post requests</a></a></li>
        <li class="list-group-item"><a href="/friends">your friends</a></li>
        <li class="list-group-item"><a href="/addfriends">add friends</a></li>
        <li class="list-group-item"><a href="/friend_requests">friend requests</a></li>
    </ul>
{% endblock %}